.SV-Button-variant-primary {
  --color: var(--white);
  --background-color: var(--blue);
  --border-color: var(--blue);
  --border-radius: 6px;
}

.SV-Button-variant-secondary {
  --color: var(--gray-11);
  --background-color: transparent;
  --border-color: var(--gray-6);
  --border-radius: 6px;
}

.SV-Button-variant-secondary-fill {
  --color: var(--gray-1);
  --background-color: var(--gray-11);
  --border-color: var(--gray-1);
  --border-radius: 6px;
}

.SV-Button {
  background-color: var(--background-color);
  border: 1px solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  padding: 8px 16px;
  color: var(--color);
  cursor: pointer;
}