.SV-Text-color--title {
  --color: var(--gray-11);
}

.SV-Text-color-invert--title {
  --color: var(--gray-1);
}

.SV-Text-hover-color--title:hover {
  --color: var(--gray-6);
}

.SV-Text--title {
  --font-family: var(--font-family-common);
  --font-size: 24px;
  --font-weight: 700;
  --line-height: 24px;
  --letter-spacing: initial;
  --text-decoration: none;
  --text-transform: none;
  --text-decoration: none;
}

.SV-Text-hover--title {
  --cursor: pointer;
}

.SV-Text-hover--title:hover {
  --transition-duration: .3s;
  --transition-property: color;
}