:root[data-theme="sv-theme-dark"] .SV-Text--body {
  --color: var(--gray-5-light);
}

:root[data-theme="sv-theme-dark"] .SV-Text-hover--body:hover {
  --color: var(--gray-light);
}

:root[data-theme="sv-theme-light"] .SV-Text--body {
  --color: var(--gray-5-dark);
}

:root[data-theme="sv-theme-light"] .SV-Text-hover--body:hover {
  --color: var(--gray-dark);
}

.SV-Text--body {
  --font-family: var(--font-family-common);
  --font-size: 14px;
  --font-weight: 400;
  --line-height: 16px;
  --letter-spacing: initial;
  --text-decoration: none;
  --text-transform: none;
  --text-decoration: none;
}

.SV-Text-hover--body {
  --cursor: pointer;
  --transition-duration: .3s;
  --transition-property: color;
}