:root[data-theme="sv-theme-dark"] {
  --gray: #8E8E93;
  --gray-2: #AEAEB2;
  --gray-3: #C7C7CC;
  --gray-4: #D1D1D6;
  --gray-5: #E5E5EA;
  --gray-6: #F2F2F7;
  
  --pink: #FF375F;
  --red: #FF453A;
  --orange: #FF9F0A;
  --yellow: #FFD60A;
  --green: #30D158;
  --mint: #66D4CF;
  --teal: #40C8E0;
  --cyan: #64D2FF;
  --blue: #0A84FF;
  --indigo: #5E5CE6;
  --purple: #BF5AF2;
  --brown: #AC8E68;
}