:root[data-theme="sv-theme-light"] {
  --gray-1: #F2F2F7;
  --gray-2: #E5E5EA;
  --gray-3: #D1D1D6;
  --gray-4: #C7C7CC;
  --gray-5: #AEAEB2;
  --gray-6: #8E8E93;
  --gray-7: #636366;
  --gray-8: #48484A;
  --gray-9: #3A3A3C;
  --gray-10: #2C2C2E;
  --gray-11: #1C1C1E;

  --white: #F2F2F7;
  --black: #1C1C1E;

  --pink: #FF2D55;
  --red: #FF3B30;
  --orange: #FF9500;
  --yellow: #FFCC00;
  --green: #34C759;
  --mint: #00C7BE;
  --teal: #30B0C7;
  --cyan: #32ADE6;
  --blue: #007AFF;
  --indigo: #5856D6;
  --purple: #AF52DE;
  --brown: #A2845E;

  --base-color: var(--gray-11);
  --base-color-invert: var(--gray-1);
}